@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use tailwind */
body {
  background-color: rgb(39, 36, 36);
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #7928ca, #ff0080);
  color: #ff0080;
}

::-webkit-scrollbar {
  width: 8px;
  width: thin;
  height: 8px;
}
